#navegacao{
    border: 1px solid red;
    width: auto;
    height: auto;
}

#main{
    border: 1px solid red;
    width: auto;
    height: auto;
}

#rodape{
    border: 1px solid red;
    width: auto;
    height: auto;
}

